
	
	#gameScreenContainer
	{
		display: inline-block;
		vertical-align: top;
	}
	
	.startGameButton
	{
	
	}
	
	.endTurnButton
	{
	
	}
	
	.mapContainer
	{
		overflow: hidden;
		border: 1px solid red;
		background-color: #000000;
	}
	
	.userContainer
	{
		display: inline-block;
		padding: 5px 10px 5px 10px;
		margin-right: 10px;
	}
	
	#infoBar
	{
		display: inline-block;
		border: 1px solid green;
	}