
	#chatMainContainer
	{
		display: inline-block;
		vertical-align: top;
		width: 300px;
		height: 600px;
		border: 1px solid black;
	}
	
	#chatMessagesContainer
	{
		background-color: white;
		overflow: scorll;
		height: 550px;
	}
	
	#gameScreenContainer
	{
		display: inline-block;
		width: 802px;
		vertical-align: top;
	}
	
	.startGameButton
	{
	
	}
	
	.endTurnButton
	{
	
	}
	
	.mapContainer
	{
		width: 800px;
		height: 600px;
		overflow: hidden;
		border: 1px solid red;
		background-image: url("http://1-background.com/images/stars-1/beautiful-blue-stars-fill.jpg");
		background-color: #222222;
	}
	
	.userContainer
	{
		display: inline-block;
		padding: 5px 10px 5px 10px;
		margin-right: 10px;
	}
	
	#infoBar
	{
		display: inline-block;
		border: 1px solid green;
	}